.items-container
  padding: 30px
  flex: 1
  background-color: #394f57

.items-title
  color: #0d1612

.items-single-item-container
  margin-bottom: 10px
  border: 1px black solid

.items-single-item-row
  padding: 10px
  border-bottom: 1px black solid

