.navigation-container
  flex: 1
  padding: 30px
  background-color: #394f57
.navigation-link
  color: #5d988b
  font-size: 20px

.navigation-link:hover
  color: #79b7ab

.navigation-link:active
  color: #a6f5e9
.navigation-title
  color: #0d1612


